<div class="container">
  <div class="row m-auto" >
      <div class="col mt-3 m-auto">



      <div class="col-12 bg-success text-center shadow-sm p-3 mb-5 bg-white ">
        <div class="m-auto col-8">
                    <h1 >Welcome to the Talabat login</h1><hr  style="color: #ff5a00;"/>

  <p class="mb-2 text-muted">If you’re unable to login or recover your password (link below), please contact your account manager. </p>
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate >
      <div class="form-group">
        <label for="email
">Email
</label>
        <input
          type="text"
          class="form-control"
          name="email

"
          [(ngModel)]="form.email
"
          required
          #email
="ngModel"
placeholder="Email..." />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="email
.errors && f.submitted" >
          email
 is required!
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          placeholder="Password..."
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block"  style="background-color: #ff5a00; color: white; border: white; ">
          Login
        </button>
      </div>
      <div class="pt-6 pb-3 text-center">
        <span class="f-16 f-500">Don't have an account?</span>
        <span>&nbsp;</span>
        <a href="/register" class="f-14 link-register">Create an account</a>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{ roles }}.
    </div>
  </div>
</div>
