<div class="homescreenstyles_HomeContainer-sc-5emil5-0 gWycA-D globalstyles_GlobalContainer-sc-fulyk5-0 beagJX m-0 border" style="margin: 0; padding: 0;">
  <div class="bannerSectionstyles__BannerSectionContainer-sc-1amrqp0-0 ghwJWz">

    <div class="position-relative">
      <img class="left-img position-absolute" src="https://www.talabat.com/assets/images/banner-img-1.webp" alt="banner image">
    </div>


<!-- Search for area -->
<div class="flex banner-content text-center align-items-center flex-column">
  <h1 class="mb-4">Order food online in Egypt</h1>
  <div class="brand-headerstyles__SearchBoxContainer-sc-198b0py-1 dYOSP search-area d-flex w-100">
  <div class="address-selectorstyles__AddressSelectorWrapper-sc-vidq09-0 dUNGTN">

<!-- Search for area -->
<div class="address-selectorstyles__FindLocator-sc-vidq09-2 kkuBUk">
  <div class="address-selectorstyles__ButtonContainer-sc-vidq09-1 dRXTJu form-control d-flex justify-content-start align-items-center">
    <img src="https://www.talabat.com/assets/images/custom-location-pin.svg" class="pin-img mr-2" alt="pin location">
    <input type="text" id="search-box-map-first" class="f-16 f-m-14" value="" placeholder="Search for area, street name, landmark..." autocomplete="off">
    <img alt="locate me" src="https://www.talabat.com/assets/images/locate-mp.svg" width="45" class="clickable" height="45">
  </div>
</div>
<button class="address-selectorstyles__SearchButton-sc-vidq09-3 lcGfVO btn"><a (click)="goto('all')">Let's go</a></button>

  </div>
  </div>
</div>

  <div>
    <img class="right-img" src="https://www.talabat.com/assets/images/banner-img-2.webp" alt="banner image">
  </div>
</div>

<br><br><br>

<!------------------------------------------------------------- Your everyday, right away ----------------------------------------------------------->

<div class="content">
    <h2 style="margin-left: 39%; font-size:25px">Your everyday, right away</h2>
    <p style="margin-left: 32%; font-size:17px">Order food and grocery delivery online from hundreds of restaurants and </p>
    <p style="margin-left: 48%; font-size:17px; margin-top: -1.5%;">shops nearby.</p>
</div>

<!-- Google store - App store - AppGallery -->
  <div class=" Apps" style="display: flex; flex-direction: row; justify-content:center;  margin: 50px 0px; margin-left: 2%;">

    <a>
      <img class="w-auto d-block app-link" src="https://www.talabat.com/assets/images/logo_playstore.svg" alt="play store" style="padding-right: 5%;">
    </a>

    <a>
      <img class="w-auto d-block app-link" src="https://www.talabat.com/assets/images/logo_appstore.svg" alt="apple store"  style="padding-right: 5%;">
    </a>

    <a>
      <img class="w-auto d-block app-link" src="https://www.talabat.com/assets/images/logo_huaweistore1.svg" alt="Huawei store"  style="padding-right: 5%;">
    </a>

  </div>
<!-- End of Google store - App store - AppGallery -->

<br>

<!------------------------------------------------------------- (Food -Groceries - Health and wellness) ----------------------------------------------------------->

<!---- Food ---->
<div style=" width:32%;">
    <div class=" h-100 w-100 d-flex tilestyles_TileContent-sc-o9g1dh-7 tilestyles_SideImageContent-sc-o9g1dh-9 iRvEcy dyOSnv  flex-grow-1 " style="margin-left: 55%;">

      <div class="imagestyles__ImageContainer-sc-1nweiph-0 GFOFz image-container" style="width: 40%; border-bottom-left-radius: 5%; border-top-left-radius: 5%;">
        <img src="https://images.deliveryhero.io/image/talabat/launcher/food.png?v=2" alt="Groceries image" style="margin-left: 20%;">
      </div>

      <div class="markdown-rich-text-block">
        <h3>Food</h3>
        <p>Find deals, free delivery, and more from our restaurant partners.</p>
        <p class="cta-text" style="cursor: pointer;" (click)="goto('all')">Explore</p>
      </div>

  </div>
      </div>
<!-- End of Food -->


<!---- Groceries ---->
<div style=" width:32%;">
    <div class=" h-100 w-100 d-flex tilestyles_TileContent-sc-o9g1dh-7 tilestyles_SideImageContent-sc-o9g1dh-9 iRvEcy dyOSnv  flex-grow-1 " style="margin-left: 160%; margin-top: -43%;">

    <div class="imagestyles__ImageContainer-sc-1nweiph-0 crvEYu image-container" style="width: 40%; border-bottom-left-radius: 5%; border-top-left-radius: 5%;">
      <img src="https://images.deliveryhero.io/image/talabat/launcher/grocery.png?v=2" alt="Groceries image" style="margin-left: 20%;">
    </div>

    <div class="markdown-rich-text-block">
      <h3>Groceries</h3>
      <p>Find deals, free delivery, and more from our restaurant partners.</p>
      <p class="cta-text" style="cursor: pointer;" (click)="goto('all')">Explore</p>
    </div>

</div>
    </div>
<!-- End of Groceries -->

<br>

<!---- Health and wellness ---->
<div style=" width:32%;">
    <div class=" h-100 w-100 d-flex tilestyles_TileContent-sc-o9g1dh-7 tilestyles_SideImageContent-sc-o9g1dh-9 iRvEcy dyOSnv  flex-grow-1 " style="margin-left: 55%;">

    <div class="imagestyles__ImageContainer-sc-1nweiph-0 iNRGuJ image-container" style="width: 40%; border-bottom-left-radius: 5%; border-top-left-radius: 5%;">
      <img src="https://images.deliveryhero.io/image/talabat/launcher/pharmacy.png?v=2" alt="Health and wellness image" style="margin-left: 20%;">
    </div>

    <div class="markdown-rich-text-block">
      <h3>Health and wellness</h3>
      <p>Show them you care. We're ready to deliver flowers and chocolates to your loved one.</p>
      <p class="cta-text" style="cursor: pointer;" (click)="goto('all')">Explore</p>
    </div>

</div>
    </div>
<!-- End of Health and wellness -->

<br><br><br><br><br>


<!---------------------------------------------------------------- Join us -------------------------------------------------------------------->

<div class="container container-extended">

    <h2 style="font-size: 32px; margin: 12px 0px; color: rgb(38, 38, 38) ; text-align: center;" >Join us</h2>
    <p style="text-align: center; font-size: 18px;">Be a part of the talabat story</p>



<!-- Start column 1 -->
<div class="joinUsstyles__Card-sc-ookggl-1 daAmTz col-md-8 col-16" style="margin-left: 5%;">
  <div class="img-section partner"></div>

<!---- Start of Become a partner ---->
<div class="details-section text-left" style="width:40%;">

    <div class="heading text-start">Become a partner</div>
    <div class="card-desc text-start">Reach more customers and achieve growth with us</div>

    <div class="mb-1 text-start">
      <a class="btn btn-primary">Find out more</a>
    </div>
</div>
 <!---- End of Become a partner ---->
</div>


<!-- Start column 2 -->
<div class=" joinUsstyles__Card-sc-ookggl-1 daAmTz col-md-8 col-16" style="margin-left: 55%; margin-top: -20%;">
  <div class="img-section career"></div>


<!---- Start of Build your career ---->
<div class="details-section text-left" style="width:40%;">

    <div class="heading text-start">Build your career</div>
    <div class="card-desc text-start">Join the dynamic team that makes it all happen</div>

    <div class="mb-1 text-start">
      <a class="btn btn-primary" rel="noopener noreferrer">Find jobs</a>
    </div>
</div>
<!---- End of Build your career ---->
</div>

</div>



<br><br>


<!-- last section ( mobile img + div section discover ) -->
<div class="download-apps-buttonsstyle__DownloadAppsButtonsContainer-sc-mw9tw8-0 gjJfvn  d-flex links-with-img-container ">

      <!-- Mobile Image -->
      <div class="imagestyles__ImageContainer-sc-1nweiph-0 cBqSat image-container phone-app-image" style="margin-left: 300px;">
          <img src="https://images.deliveryhero.io/image/talabat/website/AppDownloadComponent/app_view_iphone_en.png">
      </div>

<!-- Discover the new talabat app section -->
<div class="links links-with-img d-flex flex-column justify-content-center" style="margin-right: 260px;">
    <div class="markdown-rich-text-block">
      <h1 style="font-size: 37px;">Discover the new talabat app</h1>
      <p style="font-size: 20px;">Get what you need, when you need it.</p>
    </div>
<br>

<!-- Google store - App store - AppGallery -->
  <div style="display: flex; flex-direction: row;" >

    <a>
      <img class="w-auto d-block app-link" src="https://www.talabat.com/assets/images/logo_playstore.svg" alt="play store">
    </a>

    <a>
      <img class="w-auto d-block app-link" src="https://www.talabat.com/assets/images/logo_appstore.svg" alt="apple store">
    </a>

    <a>
      <img class="w-auto d-block app-link" src="https://www.talabat.com/assets/images/logo_huaweistore1.svg" alt="Huawei store">
    </a>

  </div>
  <!-- End of Google store - App store - AppGallery -->

</div>
<!-- End of Discover the new talabat app section -->

</div>

<!-- End of last section ( mobile img + div section discover ) -->

</div>
