/* nav bar*/
.gBTyed .nav-bar .nav-menu {
    margin-inline-start: auto;
  }
  
  .navbar-nav {
    display: -moz-box;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  ul {
    margin-top: 0;
  }
  
  .px-2 {
    padding-inline: 10px;
  }
  
  .chnPVP {
    height: 44px;
    display: inline-block;
    position: relative;
    z-index: 1;
    vertical-align: top;
  }
  
  .eSpdEh {
    font-size: 16px;
    font-weight: 400;
    line-height: 43px;
    height: 44px;
    display: block;
    cursor: pointer;
    color: rgb(255, 255, 255) !important;
  }
  
  a {
    text-decoration: none;
    color: rgb(50, 50, 50);
  }
  
  .MDgxB {
    list-style: none;
    height: 44px;
  }
  
  
  .gBTyed .nav-bar {
    padding: 14px 0px;
  }

  .d-flex {
  
    display: flex!important;
  }
  
  .gBTyed .container {
    max-width: 1000px;
  }
  
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xs {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .container {
    max-width: 100%;
  }
  
  
  .pl-2, .px-2 {
    padding-left: -.5!important;
  }
  
  .pr-2, .px-2 {
    padding-right: -.5!important;
  }
  
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  
  .gBTyed {
    position: absolute;
    right: 0px;
    left: 0px;
    z-index: 999;
    display: block;
    width: 100%;
    height: 72px;
    user-select: none;
    background-color: rgb(255, 90, 0);
    transition: background 0.35s linear 0s, height 0.35s ease-out 0s;
    overflow: hidden;
  }
  
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  .chnPVP .btn-login {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    height: 44px;
    border-radius: 8px;
    padding: 12px 15px;
    color: white;
    border: 1px solid white;
  }
  
  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
  }
  
  .btn {
    box-shadow: none;
    font-size: 14px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.42857;
    border-radius: 4px;
  }
  .navbar-bg-orange{
    background-color: orangered;
  }
  
  .navbar-text{
    text-decoration: none;
    color: white;
  }
  
  
  
  .geywdR .cart {
    position: relative;
  }
  
  .geywdR .nav-link {
    width: 37px;
    height: 43px;
   /* text-align: center;
    display: none; */
  }
  
  .px-3 {
    padding-inline: 15px;
  }
  
  .pt-2 {
    padding-top: 10px;
  }
  
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  
  }
  
  .geywdR .cart span {
    position: absolute;
    left: 10px;
    top: 18px;
    width: 18px;
    text-align: center;
    color: rgb(255, 90, 0);
  }
  
  .f-10 {
    font-size: 10px;
  }.flag.flag-eg {
    background-image: url(https://www.talabat.com/assets/images/flag-eg.png);
    background-position: 0px center;
  }
  
  .flag {
    width: 24px;
    background-size: cover;
    height: 24px;
    background-image: url(https://www.talabat.com/assets/images/flag-eg.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
  }
  
  a {
    text-decoration: none;
    color: rgb(50, 50, 50);
    background-color: transparent;
  }
  
  .MDgxB {
    list-style: none;
    height: 44px;
  }
  
  li {
    text-align: -webkit-match-parent;
  }
  
  .navbar-nav {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  ul {
    list-style-type: disc;
  }
  
  .eSpdEh {
    font-size: 16px;
    font-weight: 400;
    line-height: 43px;
    height: 44px;
    display: block;
    cursor: pointer;
    color: rgb(255, 255, 255) !important;
  }
  
  .clwwCP {
    margin: 0px;
    height: 44px;
    vertical-align: top;
  }
  
  
  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }